.profile {
  width: 100%;
  margin: 40px 0 0 0;
  padding: 0;
  display: grid;
  align-items: center;
  grid-template-columns: 120px minmax(282px, 336px) 1fr;
  grid-template-areas:
  "avatar profile button";
  gap: 30px;
}

@media  screen and (max-width: 321px) {
  .profile {
    margin: 42px 19px 0 19px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "avatar"
    "profile"
    "button";
    gap: 26px;
  }
}
