@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

.page {
  margin: 0 auto;
  padding: 0;
  max-width: 880px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
  font-family: 'Inter', 'Arial', sans-serif;
}

.header {
}
.header__logo {
}
.profile {
}
.profile__avatar-wrapper {
}
.profile__avatar {
}
.profile__info {
}
.profile__info-title {
}
.profile__info-subtitle {
}
.profile__info-edit-btn {
}
.profile__add-btn {
}
.places {
}
.place {
}
.place__image {
}
.place__title {
}
.place__like {
}
.place__like_no-active {
}
.footer {
}
